
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(140, 167, 241);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.weatherNumber{
    font-size: 2em;
}

.type{
    font-size: 0.8em;
}

